h1 {
  font-family: Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
}

body {
  background-color: black;
}

.rectangle {
  height: 500px;
  width: 1000px;
  background-color: #49fb35;
  margin: auto;
  border-radius: 50px;
}

.clockbox {
  height: 450px;
  width: 950px;
  margin: auto;
  border-radius: 50px;
}

#clock {
  color: black;
  font-size: 326px;
  text-align: center;
  padding-top: 56px;
}

@keyframes backgroundimage {
    0%   {background-image: url("images/birthday.jpg");}
    20%  {background-image: url("images/carnival.jpg");}
    40%  {background-image: url("images/council.jpg");}
    50%  {background-image: url("images/legacy.jpg");}
    60%  {background-image: url("images/loc.jpg");}
    80%  {background-image: url(images/pool.jpg);}
    100% {background-image: url("images/jungkook.jpeg");}
}

